@{
    var returnUrl = Context.Request.Query["returnUrl"];
    var previewId = ViewContext.RouteData.Values["contentItemId"];
}

@if (!string.IsNullOrWhiteSpace(returnUrl))
{
    <a href="@returnUrl"><i class="fas fa-arrow-left"></i> Back</a>
}

<h1>Test</h1>

@await DisplayAsync(Model)

<div id="content-tagger"></div>

<div id="renderPreviewUrl" style="display:none" data-value="@Url.Action("Render", "Preview", new { area = "OrchardCore.ContentPreview" })"></div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script type="text/javascript" src="/Abi.OrchardCore/Scripts/abi.js"></script>
