@{ 
    var returnUrl = Context.Request.Query["returnUrl"];
}

@if (!string.IsNullOrWhiteSpace(returnUrl))
{
    <a href="@returnUrl"><i class="fas fa-arrow-left"></i> Back</a>
}

@await  DisplayAsync(Model)
