@using OrchardCore.Flows.Models
@{
    ContentItem contentItem = Model.ContentItem;
    
    var contentVariants = contentItem.Get<BagPart>("BagPart");
}
<div class="properties">
    @if (Model.Actions != null)
    {
        <div class="related float-right">
            @await DisplayAsync(Model.Actions)
        </div>
    }

    <h1>@contentItem.DisplayText</h1>

    @if (contentVariants?.ContentItems?.Count > 0)
    {
        <ul class="list-group">
            @foreach (var variant in contentVariants.ContentItems)
            {
                <li class="list-group-item">@variant.DisplayText</li>
            }
        </ul>
    }
    else
    {
        <p><small>No content variants</small></p>
    }
</div>
